[flake8]
ignore =
    # E702 multiple statements on one line (semicolon)
    E702
    # F405 'xyz' may be undefined, or defined from star imports
    F405

filename =
    *core/batch.py
    *core/dataset.py
    *core/io/dimensions/*.py
    *core/meta.py
    *core/stack.py
    *core/views/viewmapper.py