[flake8]
ignore =
    # E702 multiple statements on one line (semicolon)
    E702

filename =
    *cache.py
    *chain.py
    *chainannotations.py
    *chainmanager.py
    *excel.py
    *excel_formats.py
    *excel_formats_constants.py
    *link.py
    *stack.py
    *view.py