
*.pyc
/quantipy/*.pyc

.coverage

*.stack
README.html

*.sav
run.py

.DS_Store

*.css
*.ttf
*.js
*.eot
*.svg
*.woff

docs/API/_static/
docs/API/_templates/

*debug.log
*.egg-info
*.egg
.eggs/

tests/Example Data (A).cache
/tests/*.pyc

*/nodeids
.pytest_cache
.pytest_cache/v/cache/nodeids

build/
dist/
