*.pyc
/tests/*.pyc
/quantipy/*.pyc
/tests/StackName.stack
/tests/ChainName.chain
/tests/ClusterName.cluster

.coverage
htmlcov/

1.*.stack
README.html

*.sav
run.py

.DS_Store
core/ExcelPainter_old.py
core/ExcelPainter_old2.py
core/ExcelPainter_latest.py
qplogo_invert_lg.png
temp.chain
tests/Example Data (A).cache
*.css
*.ttf
*.js
*.eot
*.svg
*.woff

*.js

docs/API/_static/
docs/API/_templates/

*.egg-info
*.egg
.eggs/
.cache

build
